H1{
   font-size: 12;
   font-style: initial;
   
}




body {
     background: aquamarine;
}


P{
  color: black;
  width: 500px;
  border: 1px solid purple;
}



P{
  font-style: oblique;
  font-weight: normal=100;

}

body{
   border-style: outset;
   border-color: lawngreen;
   border-width: medium;

}